In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('C:\Ananda\Tutorials\DataEngg\DEZoomCamp\yellow_tripdata_2021-01.csv', nrows=100)

In [10]:
type(df.tpep_pickup_datetime)

pandas.core.series.Series

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [18]:
df_iter = pd.read_csv('C:\Ananda\Tutorials\DataEngg\DEZoomCamp\yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [19]:
df = next(df_iter)

In [20]:
len(df)

100000

In [21]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [22]:
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

In [23]:
from time import time

In [24]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.655 second
inserted another chunk, took 8.709 second
inserted another chunk, took 9.893 second
inserted another chunk, took 9.151 second
inserted another chunk, took 8.780 second
inserted another chunk, took 9.579 second
inserted another chunk, took 9.762 second
inserted another chunk, took 9.808 second
inserted another chunk, took 9.584 second
inserted another chunk, took 9.455 second
inserted another chunk, took 8.612 second

C:\Users\royan\Anaconda3\envs\dezoom\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk, took 8.604 second
inserted another chunk, took 5.593 second

StopIteration:

#Postgres Query 1

SELECT count(*) FROM public.yellow_taxi_data 
where "tpep_pickup_datetime" BETWEEN '2021-01-15 00:00:00' AND '2021-01-15 23:59:59'

In [ ]:
#postgres query 2

SELECT tpep_pickup_datetime from public.yellow_taxi_data 
where tip_amount = (select max(tip_amount) from public.yellow_taxi_data)

In [ ]:
#postgres query 3

select "DOLocationID",tpep_pickup_datetime from public.yellow_taxi_data
group by "DOLocationID",tpep_pickup_datetime
having tpep_pickup_datetime
BETWEEN '2021-01-14 00:00:00' AND '2021-01-14 23:59:59'
order by count("DOLocationID") desc limit 1

In [ ]:
#postgres query 4

select "PULocationID","DOLocationID" from public.yellow_taxi_data 
where total_amount = (select max(total_amount) from public.yellow_taxi_data)